body {
  font-family: CenturyGothic;
}

.container {
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: $sm-width) {
  .container {
    width: 100%;
  }
}
@media (min-width: $md-width) {
  .container {
    width: 100%;
  }
}
@media (min-width: $lg-width) {
  .container {
    max-width: 1170px;
  }
}

.container-fluid {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding:  0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
