.f-nav {
  background-color: #fff;
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: all 0.3s linear;
}

.top-info,
.main-header {
  padding-left: 0;
  padding-right: 0;
}

.phone {
  display: inline-block;
}

.phone__item {
  display: inline-block;
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }

  a {
    @include font(24px, $colorTextInfo, $font-regular);
    letter-spacing: 0.6px;
    display: inline-block;

    &:hover {
      text-decoration: none;
    }
  }

}

.phone__title {
  display: inline-block;
  @include font(18px, $colorTextInfo, $font-regular);
  letter-spacing: 0.45px;
  line-height: 51px;
  padding-left: 50px;

  &--free {
    background: url("../img/icon_phone.png") no-repeat 0 10px;
  }
  &--now {
    background: url("../img/icon_phone_2.png") no-repeat 0 10px;
  }

}

.social {
  float: right;
  margin-top: 9px;
  margin-bottom: 12px;

  &__title {
    display: inline-block;
    @include font(18px, $colorTextInfo, $font-regular);
    line-height: 30px;
    letter-spacing: 0.45px;
    margin-right: 10px;
  }

  &__link {
    box-shadow: 0 0 1px rgba(0,0,0,0.3);
    vertical-align: top;
    display: inline-block;
    margin-right: 12px;
    text-align: center;
    width: 30px;
    height: 30px;
    perspective: 300px;
    overflow: visible;

    i::before,
    i::after {
      transition: all 0.3s;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    i::before {
      z-index: 2;
      background-color: #595959;
    }

    i::after {
      z-index: 1;
      opacity: 0;
      -webkit-transform: translateY(15px) rotateX(-90deg);
      transform: translateY(15px) rotateX(-90deg);
    }

    i:hover::before {
      opacity: 0;
      -webkit-transform: translateY(-15px) rotateX(90deg);
      transform: translateY(-15px) rotateX(90deg);
    }

    i:hover::after {
      opacity: 1;
      -webkit-transform: rotateX(0);
      transform: rotateX(0);
    }

    &:last-child {
      margin-right: 0;
    }

    .fa {
      color: $colorTextInfo;
      line-height: 30px;
      font-size: 14px;
    }

    &--pn {
      background-color: $colorSocialPn;

      i::before,
      i::after {
        content: "\f0d2";
      }
    }

    &--tw {
      background-color: $colorSocialTw;

      i::before,
      i::after {
        content: "\f099";
      }
    }

    &--fb {
      background-color: $colorSocialFb;

      i::before,
      i::after {
        content: "\f09a";
      }
    }
  }
}

.main-header {
  padding-top: 18px;
  padding-bottom: 11px;
}

.logo {
  display: inline-block;

  img {
    height: 100%;
    width: auto;
  }

}

.menu {
  display: inline-block;
  float: right;
  padding-top: 25px;

  button {
    display: none;
  }

  &__list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }

  &__item {
    display: inline-block;
    margin-right: 5px;

    &::before {
      display: none;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    transition: all 0.2s linear;
    @include font(14px, $colorHeaders, 700, $font-bold);
    text-transform: uppercase;
    padding-top: 11px;
    padding-bottom: 11px;
    text-decoration: none;

    &:hover {
      color: $bgColorSecondary;
      border-bottom: 4px solid $bgColorSecondary;
      text-decoration: none;
    }

  }

}
