.advantages__wrapper {
  overflow: hidden;
  padding-bottom: 20px;
  padding-left: 0;
}

.advantages {
  margin-bottom: 50px;
}

.advantage {
  background-repeat: no-repeat;
  padding-top: 97px;
  padding-bottom: 5px;
  border: 1px solid $borderAdv;
  background-color: $bgColorPrimaryLight;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
  &:hover {
    text-decoration: none;
  }
  &--icon1::before {
    @include sprite($s-icon1);
  }
  &--icon2::before {
    @include sprite($s-icon2);
  }
  &--icon3::before {
    @include sprite($s-icon3);
  }
  &--icon4::before {
    @include sprite($s-icon4);
  }
  &--icon5::before {
    @include sprite($s-icon5);
  }
  &--icon6::before {
    @include sprite($s-icon6);
  }

  &::last-child{
    margin-right: 0;
  }

  strong {
    @include font(14px,$bgColorPrimaryGrey,400,$font-regular);
    text-transform: uppercase;
    line-height: 20px;
  }

}

.article {
  text-align: justify;
  padding-top: 50px;

  footer {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 50px;
  }
}

.how {
  text-align: center;
}

.section-title {
  display: inline-block;
  @include font(36px, $colorTextInfo, $font-regular);
  line-height: 40px;
  margin-top: 80px;
  margin-bottom: 60px;
}

.how__wrapper {
  text-align: left;
  position: relative;
  padding-bottom: 65px;
}

.how__item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 35px;
    width: 1px;
    background-color: $borderHow;
  }

  &::after {
    content: '';
    position: absolute;
    left: 27px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid $borderHow;
  }

  &--step1 {
    p::before {
      @include sprite($s-how1);
    }
  }
  &--step2 {
    p::before {
      @include sprite($s-how2);
    }
  }
  &--step3 {
    p::before {
      @include sprite($s-how3);
    }
  }
  &--step4 {
    p::before {
      @include sprite($s-how4);
    }
  }
  &--step5 {
    p::before {
      @include sprite($s-how5);
    }
  }


  p {
    position: relative;
    min-height: 70px;
    padding-left: 90px;
    padding-top: 15px;
    @include font(16px, $bgColorPrimaryGrey, $font-regular);
    line-height: 18px;
    margin: 0;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 69px;
      height: 69px;
      background-color: $bgColorSecondary;
      border: 1px solid #ccc;
      z-index: 1;
    }

    &::before {
      content: "";
      position: absolute;
      left: 35px;
      transform: translateX(-50%);
      z-index: 2;
    }
  }

}


.row--first{
  border-bottom: 1px dashed $borderHow;

  .how__item {
    padding-bottom: 65px;

    &::after {
      bottom: -7px;
      background-color: $bgColorPrimaryDark;
    }
  }
}

.row--second{

  .how__item {
    padding-top: 65px;

    &::after {
      top: -7px;
      background-color: $borderHowDot;
    }
  }

}


@media (max-width: $only-mobile-width) {

  .advantage__item {
    overflow: hidden;
  }

  .advantage {
    height: 225px;
    background-position: center 56px;
    padding-top: 135px;
    display: block;
    float: none;

    strong {
      @include font(24px,$bgColorPrimaryGrey,400,$font-regular);
      text-transform: uppercase;
      line-height: 1;
    }

    &--active {

    }

  }


   .arrow {
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    height: 70px;
    width: 37px;
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -15px;

    .fa {
      display: inline-block;
      line-height: 70px;
      font-size: 110px;
      color: $colorTextInfo;
      font-family: $font-awesome;
    }
  }

  .prev {
    text-align: left;
    left: 10px;
  }

  .next {
    text-align: right;
    right: 10px;
  }

}


@media (min-width: $md-width) {

  .h1 {
    margin-left: 150px;
    margin-right: 150px;
  }

  .article__body {
    column-count: 2;
    column-gap: 30px;
  }

  .advantage {
    float: left;
    min-height: 162px;
    width: 32%;
    margin-right: 1%;
    margin-bottom: 11px;
    transition: all 0.3s linear;

    &--icon1:hover::before {
      @include sprite($s-icon1h);
    }
    &--icon2:hover::before{
      @include sprite($s-icon2h);
    }
    &--icon3:hover::before{
      @include sprite($s-icon3h);
    }
    &--icon4:hover::before {
      @include sprite($s-icon4h);
    }
    &--icon5:hover::before {
      @include sprite($s-icon5h);
    }
    &--icon6:hover::before {
      @include sprite($s-icon6h);
    }

    &:hover {
      background-color: $bgColorSecondary;
      border-color: $bgColorSecondary;

      strong {
        color: $colorTextInfo;
      }

    }

  }

}

