<main class="p404">
    <div class="container-fluid container-fluid--ligtgreen headline">
        <div class="container">
            <div class="row">
                <p class="page-title">404</p>
            </div>
        </div>
    </div>
    <div class="container-fluid--intro">
        <div class="container container--intro">
            <div class="row">
                <div class="col-md-5 col-md-offset-4">
                    <section class="not-found">
                        <hgroup>
                            <h2 class="not-found__title">404</h2>
                            <p class="not-found__second-title">Page not found</p>
                        </hgroup>
                        <div class="not-found__body">
                            <p>THE LINK YOU FOLLOWED IS PROBABLY BROKEN OR THE PAGE HAS BEEN REMOVED</p>
                            <div class="row">
                                <a href="#" class="btn">Back</a>
                            </div>
                            <div class="row">
                                <a href="/" class="btn btn--border">Home</a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>