<main class="about">
    <div class="container-fluid container-fluid--ligtgreen headline">
        <div class="container">
            <div class="row">
                <p class="page-title">about us</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">

            <section class="why">
                <h2>Why we are? {h2}</h2>
                <div class="list-block">
                    <div class="list-block__head">
                        <p class="list-block__title">When you use CompanyName.com, this is exactly what you get</p>
                    </div>
                    <div class="list-block__body">
                        <ul>
                            <li>An essay, research paper or term paper written for your academic level, whether that be high school, college, or graduate school</li>
                            <li>Authentic research performed individually for the customer</li>
                            <li>A work that is delivered by the deadline established</li>
                            <li>Revisions, free of charge, until the customer is completely satisfied (unless there is a change of original instructions)</li>
                            <li>A guarantee of originality, enforced by scanning each work for plagiarism, using the most current software for that purpose</li>
                            <li>An emulation of the customer’s writing style, accomplished by allowing the customer to submit samples of his or her previous works.  The assigned writer can then use that as a model in producing the piece</li>
                            <li>A secure and easy method of payment</li>
                            <li>A guarantee of complete confidentiality for each customer</li>
                            <li>A customer service staff that is available to resolve any issues, answer any questions, and provide price quotes, no matter how simple or complex the work may be</li>
                            <li>Over 1000 academicians who create essays and research papers in their specific subject fields</li>
                            <li>Resource use and citation as designated by the customer</li>
                        </ul>
                    </div>
                </div>
            </section>
            <div class="row">
                <div class="col-md-4 hidden-sm hidden-xs">
                    <div class="list-block list-block--green">
                        <div class="list-block__head">
                            <p class="list-block__title">Why choose</p>
                        </div>
                        <div class="list-block__body">
                            <ul>
                                <li>The largest source data base</li>
                                <li>Any paper at any academic level</li>
                                <li>96% Satisfied and returning customers</li>
                                <li>A wide range of services</li>
                                <li>MA/PhD writers</li>
                                <li>24/7 Customer support</li>
                                <li>Flexible discount program</li>
                                <li>Free plagiarism report</li>
                                <li>Double checked content</li>
                                <li>Direct communication with a writer</li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8">

                </div>
            </div>

        </div>
    </div>
</main>