<header class="page-header">
    <div class="container-fluid container-fluid--darkgreen">
        <div class="container top-info">
            <div class="row hidden-xs">
                <div class="col-sm-7 col-md-9">
                    <div class="phone">
                        <div class="phone__item">
                            <span class="phone__title phone__title--free">Toll for free:</span>
                            <a href="tel:+1-(044)-147-0235">+1-(044)-147-0235</a>
                        </div>
                        <div class="phone__item hidden-sm">
                            <span class="phone__title phone__title--now">Call now:</span>
                            <a href="tel:+1-(044)-147-0336">+1-(044)-147-0336</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-md-3">
                    <div class="social">
                        <span class="social__title">Join us:</span>
                        <a href="#" class="social__link social__link--pn"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="#" class="social__link social__link--tw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#" class="social__link social__link--fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid nav-container">
        <div class="container main-header">
            <a href="/" class="logo"><img src="img/logo.png" alt="крутой логотип Greensite"></a>
            <button class="btn-menu" type="button"></button>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item"><a class="menu__link" href="/">Home</a></li>
                    <li class="menu__item"><a class="menu__link" href="about.html">ABOUT</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">SERVICE & SPriCES</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">HOw it works</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Discounts</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Order now</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">FAQ</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Tesimonials</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Blog</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Samples</a></li>
                    <li class="menu__item"><a class="menu__link" href="login.html">Login</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>