<div class="container-fluid container-fluid--darkgreen">
    <div class="container top-info">
        <div class="row hidden-sm hidden-xs">
            <div class="col-md-9">
                <div class="phone">
                    <div class="phone__item">
                        <span class="phone__title phone__title--free">Call for free:</span>
                        <a href="tel:+1-(044)-147-0235">+1-(044)-147-0235</a>
                    </div>
                    <div class="phone__item">
                        <span class="phone__title phone__title--now">Call now:</span>
                        <a href="tel:+1-(044)-147-0336">+1-(044)-147-0336</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="social">
                    <span class="social__title">Join us:</span>
                    <a href="#" class="icon-cube icon social__link social__link--pn"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    <a href="#" class="icon-cube icon social__link social__link--tw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" class="icon-cube icon social__link social__link--fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <header class="container main-header">
        <a href="/" class="logo"><img src="img/logo.png" alt="крутой логотип Greensite"></a>
        <nav class="menu">
            <button class="btn-menu" type="button"></button>
            <button class="btn-menu-close" type="button"></button>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">SERVICE & SPriCES</a></li>
                <li><a href="#">HOw it works</a></li>
                <li><a href="#">Discounts</a></li>
                <li><a href="#">Order now</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Tesimonials</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Samples</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>
    </header>
</div>