<div class="container-fluid container-fluid--darkgreen">
    <div class="container">
        <div class="top-info">
            <div class="phone">
                <div class="phone__item">
                    <span>Call for free:</span>
                    <a href="tel:+1-(044)-147-0235">+1-(044)-147-0235</a>
                </div>
                <div class="phone__item">
                    <span>Call now:</span>
                    <a href="tel:+1-(044)-147-0336">+1-(044)-147-0336</a>
                </div>
            </div>
            <div class="social">
                <span class="social__title">Join us:</span>
                <a href="#" class="social__link social__link--pn"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                <a href="#" class="social__link social__link--tw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#" class="social__link social__link--fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>