<div class="intro-wrapper">
    <div class="container-fluid--darkgreen container-fluid--intro">
        <div class="container-fluid container-fluid--border container-fluid--ligtgreen">
            <div class="container container--intro">
                <div class="intro clearfix">
                    <a href="#" class="btn btn--live-chat visible-lg">live chat</a>
                    <p class="intro__title">Custom Writing service</p>
                    <p class="intro__subtitle">the key to success </p>
                    <div class="order-info">
                        <p class="order-info__title">You are at right place!</p>
                        <p class="order-info__descr">EssayService.com is a top quality
                            writing service</p>
                        <div class="btn-wrapper">
                            <a href="#" class="btn btn--red">Order now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container hidden-xs hidden-sm">
            <div class="special-offer">
                <span>Special Offer: <strong>Get limited discounts</strong> on the first order</span>
                <a href="#">The list of discounts</a>
            </div>
        </div>
    </div>
</div>