<main class="login-wrapper">
    <div class="container-fluid container-fluid--ligtgreen headline">
        <div class="container">
            <div class="row">
                <p class="page-title">Login</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">

                    <div class="login list-block list-block--green">
                        <div class="list-block__head">
                            <p class="list-block__title">Login Form</p>
                            <button class="close"><i class="fa fa-times"></i></button>
                        </div>
                        <div class="list-block__body">
                            <form action="#" method="post">
                                <div class="form-group">
                                    <input type="email" name="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-6">
                                            <a href="#" class="forgot-link">Forgot your password?</a>
                                            <a href="#" class="forgot-link">Registration & order</a>
                                            <a href="#" class="forgot-link">Free registration</a>
                                        </div>
                                        <div class="col-xs-7 col-sm-6 align-right">
                                            <button class="submit" type="submit" name="send">login</button>
                                        </div>
                                    </div>
                                    
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</main>