<main class="price-wrapper">
    <div class="container-fluid container-fluid--ligtgreen headline">
        <div class="container">
            <div class="row">
                <p class="page-title">Services & Prices</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">

            <div class="price">
                <h2>Prices</h2>
                <p>Confused about the difference in pricing of various writing services? We understand!  Most services charge a set price-per-page, for anything from a high school 5-paragraph essay to a Ph.D. dissertation. This should raise an immediate red flag to you.  No honest and ethical service can do this without using second-rate writers and databases of pre-written papers.</p>

                <div class="row">
                    <div class="col-md-12 col-lg-10 col-lg-offset-1">

                        <div class="filter">
                            <form action="#" method="get">
                                <div class="row rf">
                                    <div class="col-xs-12 col-sm-8 col-md-4 c1">
                                        <div class="filter__currency">
                                            <label class="filter__name">Currency:</label>
                                            <input checked type="radio" name="currency" VALUE="USD" id="usd"><label for="usd">usd</label>
                                            <input type="radio" name="currency" VALUE="GBP" id="gbp"><label for="gbp">gbp</label>
                                            <input type="radio" name="currency" VALUE="EUR" id="eur"><label for="eur">eur</label>
                                            <input type="radio" name="currency" VALUE="CAD" id="cad"><label for="cad">cad</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-5 c2">
                                        <div class="filter__product">
                                            <label class="filter__name">Select product:</label>
                                            <select name="product">
                                                <option value="Essay">Essay</option>
                                                <option value="Essay">Essay</option>
                                                <option value="Essay">Essay</option>
                                                <option value="Essay">Essay</option>
                                                <option value="Essay">Essay</option>
                                                <option value="Essay">Essay</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-3 c3">

                                        <label class="filter__name">Pages:</label>
                                        <div class="number">
                                            <span class="minus"></span>
                                            <input type="text" class="number__input" name="pages" value="2" size="3"/>
                                            <span class="plus"></span>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>


        </div>
    </div>
</main>