<main class="samples-wrapper">
    <div class="container-fluid container-fluid--ligtgreen headline">
        <div class="container">
            <div class="row">
                <p class="page-title">Samples</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">

            <div class="sample">

                <div class="sample__item">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="sample__title">Powerpoint Presentation</p>
                        </div>
                    </div>
                    <div class="row row--dashed">
                        <div class="col-md-3 hidden-xs hidden-sm">
                            <div class="sample__icon-wrap">
                                <a href="sample.pdf" class="sample__icon"></a>
                            </div>

                            <div class="btn-wrapper">
                                <a href="#" class="btn btn--red">Order now</a>
                            </div>

                        </div>
                        <div class="col-md-9">

                            <div class="list">
                                <div class="list__row">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Topic:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">Business Ethics Behavior</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Number of pages:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">6</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Urgency:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">7 days</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Style:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">APA</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Style:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">0</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Style:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">High Shcool</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="btn-wrapper visible-xs visible-sm">
                                <a href="#" class="btn btn--red">Order now</a>
                            </div>

                        </div>
                    </div>

                    <div class="row row--second">
                        <div class="col-xs-4 col-sm-3 visible-xs visible-sm c1">
                            <div class="sample__icon-wrap">
                                <a href="sample.pdf" class="sample__icon"></a>
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-12 col-md-offset-0 col-md-5 c2">
                            <p class="lite">You can order your custom written paper NOW</p>
                            <p class="list__price list__price--green">Prices from <span class="list__price--red">$11.99/page</span></p>
                        </div>
                        <div class="col-xs-6 col-sm-5 col-md-2 c3">
                            <div class="discount">
                                <strong>-20%</strong>
                                <span>discounts</span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-5 c4">
                            <p class="list__price get-discount">Get <span class="list__price--red">20%</span> discount on the first order                       </p>
                        </div>
                    </div>

                </div>


                <div class="sample__item">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="sample__title">Powerpoint Presentation</p>
                        </div>
                    </div>
                    <div class="row row--dashed">
                        <div class="col-md-3 hidden-xs hidden-sm">
                            <div class="sample__icon-wrap">
                                <a href="sample.pdf" class="sample__icon"></a>
                            </div>

                            <div class="btn-wrapper">
                                <a href="#" class="btn btn--red">Order now</a>
                            </div>

                        </div>
                        <div class="col-md-9">

                            <div class="list">
                                <div class="list__row">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Topic:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">Business Ethics Behavior</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Number of pages:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">6</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Urgency:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">7 days</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Style:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">APA</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Style:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">0</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Style:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">High Shcool</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="btn-wrapper visible-xs visible-sm">
                                <a href="#" class="btn btn--red">Order now</a>
                            </div>

                        </div>
                    </div>

                    <div class="row row--second">
                        <div class="col-xs-4 col-sm-3 visible-xs visible-sm c1">
                            <div class="sample__icon-wrap">
                                <a href="sample.pdf" class="sample__icon"></a>
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-12 col-md-offset-0 col-md-5 c2">
                            <p class="lite">You can order your custom written paper NOW</p>
                            <p class="list__price list__price--green">Prices from <span class="list__price--red">$11.99/page</span></p>
                        </div>
                        <div class="col-xs-6 col-sm-5 col-md-2 c3">
                            <div class="discount">
                                <strong>-20%</strong>
                                <span>discounts</span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-5 c4">
                            <p class="list__price get-discount">Get <span class="list__price--red">20%</span> discount on the first order                       </p>
                        </div>
                    </div>

                </div>


                <div class="sample__item">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="sample__title">Powerpoint Presentation</p>
                        </div>
                    </div>
                    <div class="row row--dashed">
                        <div class="col-md-3 hidden-xs hidden-sm">
                            <div class="sample__icon-wrap">
                                <a href="sample.pdf" class="sample__icon"></a>
                            </div>

                            <div class="btn-wrapper">
                                <a href="#" class="btn btn--red">Order now</a>
                            </div>

                        </div>
                        <div class="col-md-9">

                            <div class="list">
                                <div class="list__row">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Topic:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">Business Ethics Behavior</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Number of pages:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">6</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Urgency:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">7 days</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Style:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">APA</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Style:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">0</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Style:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">High Shcool</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="btn-wrapper visible-xs visible-sm">
                                <a href="#" class="btn btn--red">Order now</a>
                            </div>

                        </div>
                    </div>

                    <div class="row row--second">
                        <div class="col-xs-4 col-sm-3 visible-xs visible-sm c1">
                            <div class="sample__icon-wrap">
                                <a href="sample.pdf" class="sample__icon"></a>
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-12 col-md-offset-0 col-md-5 c2">
                            <p class="lite">You can order your custom written paper NOW</p>
                            <p class="list__price list__price--green">Prices from <span class="list__price--red">$11.99/page</span></p>
                        </div>
                        <div class="col-xs-6 col-sm-5 col-md-2 c3">
                            <div class="discount">
                                <strong>-20%</strong>
                                <span>discounts</span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-5 c4">
                            <p class="list__price get-discount">Get <span class="list__price--red">20%</span> discount on the first order                       </p>
                        </div>
                    </div>

                </div>


                <div class="sample__item">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="sample__title">Powerpoint Presentation</p>
                        </div>
                    </div>
                    <div class="row row--dashed">
                        <div class="col-md-3 hidden-xs hidden-sm">
                            <div class="sample__icon-wrap">
                                <a href="sample.pdf" class="sample__icon"></a>
                            </div>

                            <div class="btn-wrapper">
                                <a href="#" class="btn btn--red">Order now</a>
                            </div>

                        </div>
                        <div class="col-md-9">

                            <div class="list">
                                <div class="list__row">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Topic:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">Business Ethics Behavior</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Number of pages:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">6</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Urgency:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">7 days</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Style:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">APA</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Style:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">0</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Style:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">High Shcool</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="btn-wrapper visible-xs visible-sm">
                                <a href="#" class="btn btn--red">Order now</a>
                            </div>

                        </div>
                    </div>

                    <div class="row row--second">
                        <div class="col-xs-4 col-sm-3 visible-xs visible-sm c1">
                            <div class="sample__icon-wrap">
                                <a href="sample.pdf" class="sample__icon"></a>
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-12 col-md-offset-0 col-md-5 c2">
                            <p class="lite">You can order your custom written paper NOW</p>
                            <p class="list__price list__price--green">Prices from <span class="list__price--red">$11.99/page</span></p>
                        </div>
                        <div class="col-xs-6 col-sm-5 col-md-2 c3">
                            <div class="discount">
                                <strong>-20%</strong>
                                <span>discounts</span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-5 c4">
                            <p class="list__price get-discount">Get <span class="list__price--red">20%</span> discount on the first order                       </p>
                        </div>
                    </div>

                </div>


                <div class="sample__item">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="sample__title">Powerpoint Presentation</p>
                        </div>
                    </div>
                    <div class="row row--dashed">
                        <div class="col-md-3 hidden-xs hidden-sm">
                            <div class="sample__icon-wrap">
                                <a href="sample.pdf" class="sample__icon"></a>
                            </div>

                            <div class="btn-wrapper">
                                <a href="#" class="btn btn--red">Order now</a>
                            </div>

                        </div>
                        <div class="col-md-9">

                            <div class="list">
                                <div class="list__row">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Topic:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">Business Ethics Behavior</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Number of pages:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">6</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Urgency:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">7 days</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Style:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">APA</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Style:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">0</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-2">
                                            <span class="list__name">Style:</span>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            <span class="list__value">High Shcool</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="btn-wrapper visible-xs visible-sm">
                                <a href="#" class="btn btn--red">Order now</a>
                            </div>

                        </div>
                    </div>

                    <div class="row row--second">
                        <div class="col-xs-4 col-sm-3 visible-xs visible-sm c1">
                            <div class="sample__icon-wrap">
                                <a href="sample.pdf" class="sample__icon"></a>
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-12 col-md-offset-0 col-md-5 c2">
                            <p class="lite">You can order your custom written paper NOW</p>
                            <p class="list__price list__price--green">Prices from <span class="list__price--red">$11.99/page</span></p>
                        </div>
                        <div class="col-xs-6 col-sm-5 col-md-2 c3">
                            <div class="discount">
                                <strong>-20%</strong>
                                <span>discounts</span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-5 c4">
                            <p class="list__price get-discount">Get <span class="list__price--red">20%</span> discount on the first order                       </p>
                        </div>
                    </div>

                </div>





            </div>

        </div>
    </div>
</main>