<main class="testimonials-wrapper">
    <div class="container-fluid container-fluid--ligtgreen headline">
        <div class="container">
            <div class="row">
                <p class="page-title">testimonials</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">

            <section class="testimonials">
                <h2>What our customer says?</h2>

                <div class="row">
                    <div class="col-xs-12 col-lg-10 col-lg-offset-1">

                        <div class="links-wrapper clearfix">

                            <div class="pagination">
                                <ul>
                                    <li><a href=""><i class="fa fa-angle-left"></i></a></li>
                                    <li><a href="" class="active">1</a></li>
                                    <li><a href="">2</a></li>
                                    <li><a href="">3</a></li>
                                    <li><a href="">4</a></li>
                                    <li><a href="">5</a></li>
                                    <li><a href="" class="dotted">...</a></li>
                                    <li><a href="">6</a></li>
                                    <li><a href=""><i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>

                            <a href="#" class="btn post__btn">Leave Reply</a>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-lg-10 col-lg-offset-1">

                        <div class="testimonial">
                            <blockquote>
                                <p class="testimonial__body">
                                    We, here at the university, would like to thank you for your exemplary work. It was recently brought to our attention that a number of our humanities professors were purchasing work from your website to use in their classes for students to observe what a perfect paper looks like. After careful examination of the materials, our committee has concluded that this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work from CompanyName.com.
                                </p>
                                <footer>
                                    <cite>Dr. Patricia Lolland, Houston, TX</cite>
                                </footer>
                            </blockquote>
                        </div>

                        <div class="testimonial">
                            <blockquote>
                                <p>
                                    We, here at the university, would like to thank you for your exemplary work. It was recently brought to our attention that a number of our humanities professors were purchasing work from your website to use in their classes for students to observe what a perfect paper looks like. After careful examination of the materials, our committee has concluded that this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work from CompanyName.com.
                                </p>
                                <footer>
                                    <cite>Dr. Patricia Lolland, Houston, TX</cite>
                                </footer>
                            </blockquote>
                        </div>

                        <div class="testimonial">
                            <blockquote>
                                <p>
                                    We, here at the university, would like to thank you for your exemplary work. It was recently brought to our attention that a number of our humanities professors were purchasing work from your website to use in their classes for students to observe what a perfect paper looks like. After careful examination of the materials, our committee has concluded that this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work from CompanyName.com.
                                </p>
                                <footer>
                                    <cite>Dr. Patricia Lolland, Houston, TX</cite>
                                </footer>
                            </blockquote>
                        </div>

                        <div class="testimonial">
                            <blockquote>
                                <p>
                                    We, here at the university, would like to thank you for your exemplary work. It was recently brought to our attention that a number of our humanities professors were purchasing work from your website to use in their classes for students to observe what a perfect paper looks like. After careful examination of the materials, our committee has concluded that this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work from CompanyName.com.
                                </p>
                                <footer>
                                    <cite>Dr. Patricia Lolland, Houston, TX</cite>
                                </footer>
                            </blockquote>
                        </div>

                        <div class="testimonial">
                            <blockquote>
                                <p>
                                    We, here at the university, would like to thank you for your exemplary work. It was recently brought to our attention that a number of our humanities professors were purchasing work from your website to use in their classes for students to observe what a perfect paper looks like. After careful examination of the materials, our committee has concluded that this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work from CompanyName.com.
                                </p>
                                <footer>
                                    <cite>Dr. Patricia Lolland, Houston, TX</cite>
                                </footer>
                            </blockquote>
                        </div>

                        <div class="testimonial">
                            <blockquote>
                                <p>
                                    We, here at the university, would like to thank you for your exemplary work. It was recently brought to our attention that a number of our humanities professors were purchasing work from your website to use in their classes for students to observe what a perfect paper looks like. After careful examination of the materials, our committee has concluded that this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work from CompanyName.com.
                                </p>
                                <footer>
                                    <cite>Dr. Patricia Lolland, Houston, TX</cite>
                                </footer>
                            </blockquote>
                        </div>

                        <div class="testimonial">
                            <blockquote>
                                <p>
                                    We, here at the university, would like to thank you for your exemplary work. It was recently brought to our attention that a number of our humanities professors were purchasing work from your website to use in their classes for students to observe what a perfect paper looks like. After careful examination of the materials, our committee has concluded that this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work from CompanyName.com.
                                </p>
                                <footer>
                                    <cite>Dr. Patricia Lolland, Houston, TX</cite>
                                </footer>
                            </blockquote>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-lg-10 col-lg-offset-1">

                        <div class="links-wrapper clearfix">

                            <div class="pagination">
                                <ul>
                                    <li><a href=""><i class="fa fa-angle-left"></i></a></li>
                                    <li><a href="" class="active">1</a></li>
                                    <li><a href="">2</a></li>
                                    <li><a href="">3</a></li>
                                    <li><a href="">4</a></li>
                                    <li><a href="">5</a></li>
                                    <li><a href="" class="dotted">...</a></li>
                                    <li><a href="">6</a></li>
                                    <li><a href=""><i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">



                        <div class="list-block list-block--green">
                            <div class="list-block__head">
                                <p class="list-block__title">Leave Your Reply</p>
                            </div>
                            <div class="list-block__body">
                                <form action="#" method="post">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Your name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input type="text" name="name" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                             <label>Comments</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <textarea name="comments" rows="4"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4">
                                            <div class="form-group">
                                                <label>Your mark</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-8">
                                            <div class="form-group">
                                                <div class="stars">
                                                    <span class="stars__icon stars__icon--gold"></span>
                                                    <span class="stars__icon"></span>
                                                    <span class="stars__icon"></span>
                                                    <span class="stars__icon"></span>
                                                    <span class="stars__icon"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group align-right">
                                                <button class="submit" type="submit" name="send">Send</button>
                                            </div>
                                        </div>
                                    </div>




                                </form>
                            </div>
                        </div>


                    </div>
                </div>



            </section>

        </div>
    </div>
</main>