
$bgColorPrimaryDark: #14a85c;
$bgColorPrimaryLight: #86ea8f;
$bgColorPrimaryExtraLight: #35dc44;
$bgColorPrimaryGrey: #4e4e4e;
$bgColorSecondary: #e84c3d;
$bgColorThird: #f6f6f6;
$bgColorFaq: #eaedf2;

/*------------- Text -------------------*/
$colorHeaders: #003300;
$colorTextDark: $bgColorPrimaryGrey;
$colorTextPrimary: #777777;
$colorTextSecondary: #002157;
$colorTextHint: #cfd0d3;
$colorTextCurrency: #292929;
$colorTextInput: #9fa1a2;
$colorTextSelect: #939191;
$colorLabelDark: #000;
$colorLabelLight: #242425;
$colorPagination: #535155;

/*------------- end Text -------------------*/

/*------------- Social -------------------*/
$colorSocialPn: $bgColorSecondary;
$colorSocialTw: #28c3ff;
$colorSocialFb: #496194;
/*------------- end Social -------------------*/