
$bgColorPrimaryDark: #14a85c;
$bgColorPrimaryLight: #86ea8f;
$bgColorPrimaryExtraLight: #35dc44;
$bgColorPrimaryGrey: #4e4e4e;
$bgColorSecondary: #e84c3d;
$bgColorThird: #f6f6f6;
$bgColorFaq: #eaedf2;

/*------------- Text -------------------*/
$ColorHeaders: #003300;
$ColorTextDark: $bgColorPrimaryGrey;
$ColorText: #777777;
$ColorTextSecondary: #002157;
$ColorTextHint: #cfd0d3;
$ColorTextCurrency: #292929;
$ColorTextInput: #9fa1a2;
$ColorTextSelect: #939191;
$ColorLabelDark: #000;
$ColorLabeLight: #242425;
$ColorPagination: #535155;

/*------------- end Text -------------------*/

/*------------- Social -------------------*/
$ColorSocialPn: $bgColorSecondary;
$ColorSocialTw: #28c3ff;
$ColorSocialFb: #496194;
/*------------- end Social -------------------*/