.close {
  position: absolute;
  background: none;
  border: 0;
  outline: 0;
  width: 13px;
  height: 13px;
  top: 20px;
  right: 20px;

  .fa {
    color: $colorTextInfo;
    font-size: 14px;
    font-family: $font-awesome;
  }
}

.form-group {
  margin: 24px 0;

  label {
    @include font(14px, $colorLabelLight, $font-regular);
    padding: 9px 24px;
  }
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="tel"],
textarea,
select {
  border: 1px solid $colorFormBorder;
  font-size: 16px;
  line-height: 20px;
  padding: 11px 20px;
  width: 100%;
  color: $colorLabelLight;
}


input[type="checkbox"] {
  line-height: 44px;
  margin-right: 10px;
}

input[type="checkbox"]~label,
input[type="radio"]~label {
  margin-right: 15px;
}

select {
  color: $colorTextSelect;
  option {
    line-height: 20px;
  }
}

textarea {
  min-width: 94px;
}

.submit {
  @extend .btn;
  background-color: $bgColorSecondary;
  font-family: $font-regular;
  padding: 20px 30px 20px 45px;
  &::before {
    top: 16px;
    left: 35px;
  }
  &:hover {
    background-color: $btnColorSecondary;
    border-color: $btnHoverBorderColor;
  }
}

.file_upload{
  position: relative;
  overflow: hidden;
}

.file_upload > button{
  display: inline-block;
  border: 2px solid $bgColorPrimaryDark;
  @include font(14px, $bgColorPrimaryDark, 400, $font-regular);
  line-height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: transparent;
}

.file_upload input[type=file]{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(20);
  letter-spacing: 10em;     /* IE 9 fix */
  -ms-transform: scale(20); /* IE 9 fix */
  opacity: 0;
  cursor: pointer
}

@media (min-width: $sm-width) {
  .submit {
    padding: 20px 60px 20px 75px;
    &::before {
      top: 14px;
      left: 55px;
    }
  }
}