.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding:  0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-fluid--darkgreen {
  background-color: $bgColorPrimaryDark;
}
.container-fluid--dark {
  background-color: $bgColorPrimaryGrey;
}

.container-fluid--intro {
  padding-bottom: 50px;
}

.container-fluid--ligtgreen {
  background-color: $bgColorPrimaryLight;
}

.container-fluid--border {
  border-bottom: 2px solid $bgColorFour;
}
