$s-call : 0px 729px 0px -729px 36px 30px 39px 2785px '../img/sprite.png';
$s-chat : 0px 1254px 0px -1254px 39px 33px 39px 2785px '../img/sprite.png';
$s-how1 : 0px 859px 0px -859px 21px 31px 39px 2785px '../img/sprite.png';
$s-how2 : 0px 349px 0px -349px 24px 24px 39px 2785px '../img/sprite.png';
$s-how3 : 0px 2467px 0px -2467px 26px 38px 39px 2785px '../img/sprite.png';
$s-how4 : 0px 600px 0px -600px 29px 29px 39px 2785px '../img/sprite.png';
$s-how5 : 0px 229px 0px -229px 30px 20px 39px 2785px '../img/sprite.png';
$s-icon1 : 0px 1387px 0px -1387px 22px 34px 39px 2785px '../img/sprite.png';
$s-icon1h : 0px 1789px 0px -1789px 22px 34px 39px 2785px '../img/sprite.png';
$s-icon2 : 0px 1521px 0px -1521px 33px 34px 39px 2785px '../img/sprite.png';
$s-icon2h : 0px 1655px 0px -1655px 33px 34px 39px 2785px '../img/sprite.png';
$s-icon3 : 0px 2745px 0px -2745px 24px 40px 39px 2785px '../img/sprite.png';
$s-icon3h : 0px 2605px 0px -2605px 24px 40px 39px 2785px '../img/sprite.png';
$s-icon4 : 0px 1122px 0px -1122px 26px 32px 39px 2785px '../img/sprite.png';
$s-icon4h : 0px 990px 0px -990px 26px 32px 39px 2785px '../img/sprite.png';
$s-icon5 : 0px 1923px 0px -1923px 33px 35px 39px 2785px '../img/sprite.png';
$s-icon5h : 0px 2058px 0px -2058px 33px 35px 39px 2785px '../img/sprite.png';
$s-icon6 : 0px 2193px 0px -2193px 38px 37px 39px 2785px '../img/sprite.png';
$s-icon6h : 0px 2330px 0px -2330px 38px 37px 39px 2785px '../img/sprite.png';
$s-like : 0px 109px 0px -109px 21px 20px 39px 2785px '../img/sprite.png';
$s-reply : 0px 0px 0px 0px 21px 9px 39px 2785px '../img/sprite.png';
$s-toll : 0px 473px 0px -473px 35px 27px 39px 2785px '../img/sprite.png';
