$s-call : 0px 500px 0px -500px 36px 30px 39px 2556px '../img/sprite.png';
$s-chat : 0px 1025px 0px -1025px 39px 33px 39px 2556px '../img/sprite.png';
$s-how1 : 0px 630px 0px -630px 21px 31px 39px 2556px '../img/sprite.png';
$s-how2 : 0px 120px 0px -120px 24px 24px 39px 2556px '../img/sprite.png';
$s-how3 : 0px 2238px 0px -2238px 26px 38px 39px 2556px '../img/sprite.png';
$s-how4 : 0px 371px 0px -371px 29px 29px 39px 2556px '../img/sprite.png';
$s-how5 : 0px 0px 0px 0px 30px 20px 39px 2556px '../img/sprite.png';
$s-icon1 : 0px 1426px 0px -1426px 22px 34px 39px 2556px '../img/sprite.png';
$s-icon1h : 0px 1292px 0px -1292px 22px 34px 39px 2556px '../img/sprite.png';
$s-icon2 : 0px 1560px 0px -1560px 33px 34px 39px 2556px '../img/sprite.png';
$s-icon2h : 0px 1158px 0px -1158px 33px 34px 39px 2556px '../img/sprite.png';
$s-icon3 : 0px 2376px 0px -2376px 24px 40px 39px 2556px '../img/sprite.png';
$s-icon3h : 0px 2516px 0px -2516px 24px 40px 39px 2556px '../img/sprite.png';
$s-icon4 : 0px 893px 0px -893px 26px 32px 39px 2556px '../img/sprite.png';
$s-icon4h : 0px 761px 0px -761px 26px 32px 39px 2556px '../img/sprite.png';
$s-icon5 : 0px 1694px 0px -1694px 33px 35px 39px 2556px '../img/sprite.png';
$s-icon5h : 0px 1829px 0px -1829px 33px 35px 39px 2556px '../img/sprite.png';
$s-icon6 : 0px 2101px 0px -2101px 38px 37px 39px 2556px '../img/sprite.png';
$s-icon6h : 0px 1964px 0px -1964px 38px 37px 39px 2556px '../img/sprite.png';
$s-toll : 0px 244px 0px -244px 35px 27px 39px 2556px '../img/sprite.png';
