$s-call : 0px 948px 0px -948px 36px 30px 39px 3004px '../img/sprite.png';
$s-chat : 0px 1473px 0px -1473px 39px 33px 39px 3004px '../img/sprite.png';
$s-how1 : 0px 1078px 0px -1078px 21px 31px 39px 3004px '../img/sprite.png';
$s-how2 : 0px 568px 0px -568px 24px 24px 39px 3004px '../img/sprite.png';
$s-how3 : 0px 2686px 0px -2686px 26px 38px 39px 3004px '../img/sprite.png';
$s-how4 : 0px 819px 0px -819px 29px 29px 39px 3004px '../img/sprite.png';
$s-how5 : 0px 328px 0px -328px 30px 20px 39px 3004px '../img/sprite.png';
$s-icon1 : 0px 1874px 0px -1874px 22px 34px 39px 3004px '../img/sprite.png';
$s-icon1h : 0px 2008px 0px -2008px 22px 34px 39px 3004px '../img/sprite.png';
$s-icon2 : 0px 1606px 0px -1606px 33px 34px 39px 3004px '../img/sprite.png';
$s-icon2h : 0px 1740px 0px -1740px 33px 34px 39px 3004px '../img/sprite.png';
$s-icon3 : 0px 2824px 0px -2824px 24px 40px 39px 3004px '../img/sprite.png';
$s-icon3h : 0px 2964px 0px -2964px 24px 40px 39px 3004px '../img/sprite.png';
$s-icon4 : 0px 1209px 0px -1209px 26px 32px 39px 3004px '../img/sprite.png';
$s-icon4h : 0px 1341px 0px -1341px 26px 32px 39px 3004px '../img/sprite.png';
$s-icon5 : 0px 2142px 0px -2142px 33px 35px 39px 3004px '../img/sprite.png';
$s-icon5h : 0px 2277px 0px -2277px 33px 35px 39px 3004px '../img/sprite.png';
$s-icon6 : 0px 2549px 0px -2549px 38px 37px 39px 3004px '../img/sprite.png';
$s-icon6h : 0px 2412px 0px -2412px 38px 37px 39px 3004px '../img/sprite.png';
$s-like : 0px 448px 0px -448px 21px 20px 39px 3004px '../img/sprite.png';
$s-reply : 0px 109px 0px -109px 21px 9px 39px 3004px '../img/sprite.png';
$s-star-gold : 0px 218px 0px -218px 10px 10px 39px 3004px '../img/sprite.png';
$s-star : 0px 0px 0px 0px 9px 9px 39px 3004px '../img/sprite.png';
$s-toll : 0px 692px 0px -692px 35px 27px 39px 3004px '../img/sprite.png';
