body {
  @include font(14px, $colorTextPrimary, 400, $font-regular);
  max-width: 1920px;
  min-width: 320px;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

h1 {
  @include font(36px, $colorHeaders, 700, $font-bold);
  text-transform: uppercase;
  line-height: 40px;
  margin: 50px 0px;

}

h2 {
  @include font(36px, $colorHeaders, 400, $font-regular);
  line-height: 40px;
  margin: 50px 0px;
  text-align: center;
}

h3 {
  @include font(30px, $colorHeaders, 400, $font-regular);
}

h4 {
  @include font(28px, $colorHeaders, 400, $font-regular);
}

h5 {
  @include font(25px, $colorHeaders, 400, $font-regular);
}

h6 {
  @include font(24px, $colorHeaders, 700, $font-regular);
}

h1, h2, h3, h4, h5, h5 {
  text-align: center;
}

p {
  @include font(14px, $colorTextPrimary, 400, $font-light);
  line-height: 24px;
  margin: 0;
  margin-bottom: 24px;
}

ul {
  list-style-type: none;
}

ul li {
  position: relative;
  @include font(14px, $colorTextPrimary, 400, $font-light);
  line-height: 24px;
  margin: 3px 0;
}

ul li::before {
  content: "\f105";
  position: absolute;
  top: 0px;
  left: -15px;
  font-family: FontAwesome;
  font-size: 14px;
  font-weight: bold;
  color: $bgColorSecondary;
}

@media (max-width: $only-mobile-width) {
  ul {
    padding-left: 20px;
  }
}